html,
body {
    height: 100%;
    margin: 0;
    min-width: 300px;
    padding: 0;

    #ftc-root {
        height: 100%;

        section {
            height: 100%;
        }

        .ftc-primary-text {
            font-size: 18px;
            font-weight: bold;
        }
    
        .ftc-secondary-text {
            font-size: 16px;
            font-weight: normal;
        }
        
        .ftc-icon {
            align-content: center;
            align-items: center;
            background-color: $iconBackground;
            border-radius: 30px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            height: 60px;
            width: 60px;

            svg.icon-blue {
                color: $iconBlue;
                font-size: 20px;
            }
        }
    
        .ftc-common, .ftc-ownership, .ftc-registration-address, .ftc-residential-address, .ftc-socials {
            background-color: $white;
            height: 100%;
            padding: 60px;
            width: 100%;

            form {
                margin: 0 -5px;
            }

            .ant-row {
                align-content: center;
                align-items: center;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                padding-bottom: 10px;
                width: 100%;
            }

            .ant-col {
                padding: 0 5px;
            }

            .full-width {
                width: 100%;
            }

            .three-quarters-width {
                width: 75%;
                min-width: 400px;
            }

            .half-width {
                width: 50%;
                min-width: 300px;
            }

            .quarter-width {
                max-width: 25%;
                min-width: 170px;
            }

            .eighth-width {
                max-width: 12.5%;
                min-width: 100px;
            }

            .align-corners {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
        
        .ftc-common .ftc-common-form .ftc-common-male .ant-row {
            padding: 0 !important;
        }

        .ftc-ownership .ftc-company-form .inn-space-compact {
            button {
                padding-left: 0;
            }

            .inn-control {
                margin-bottom: 0;
                
                .ant-row {
                    padding-bottom: 0;

                    .ant-col {
                        padding-right: 0;
                    }
                }
            }
        }

        .ftc-socials {
            .ant-form-item {
                margin-bottom: 0;

                .ant-col .ant-col {
                    padding: 0;
                }

                .ant-select {
                    min-width: 150px;
                }

                .delete-btn {
                    margin-left: 5px;
                }
            }
        }
    }
}